*{margin:0;padding:0}

@keyframes fade-in{  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}

@keyframes down{
				
				from
				{
				    bottom: 0%;
				    opacity: 0;
				}
				to
				{
				    bottom: 5%;
				    opacity: 1;
				}
}

@-webkit-keyframes down{
				
				from
				{
				    bottom: 0%;
				    opacity: 0;
				}
				to
				{
				    bottom: 5%;
				    opacity: 1;
				}
}

@keyframes emerge_up{
	0% {opacity: 0;
		transform: translateY(40px);}
    50%{opacity: 0;
		transform: translateY(20px);}
    100%{opacity: 1;
		transform: translateY(0px);}
}

@keyframes conceal{
	0% {opacity: 0;}
	100% {opacity: 0;}
}

@font-face{font-family: "pf_one";
		   src:url("../MYfont/pf001.ttf");

}

@media screen and (min-device-width: 450px){

#aboutme_header{ background-color:#111111; 
		         height:120px;        }

#logo{ float: left;
	   height:60px;width:120px;
	   margin-left:30px;
	   margin-top:30px;
	   position: absolute;}

#navigation{ height:80px;width:750px;
	         /*background-color:#111111;*/
	         margin:0 auto;}


.nav-link{/*font-family: "p_one";*/
		  font-weight:bold;
/*		  font-size: 20px;*/
	      text-decoration:none;
	      color: #e6e6e6;
	      margin: 25px;
	      /*padding: 15px;*/
	      line-height: 80px;

}

#head_img_box{height:200px;width:200px;
	          margin: 60px auto 10px;
}

#head_img{height:200px;width:200px;

          animation: fade-in;  
          animation-duration: 1s;  
          -webkit-animation:fade-in 1s;
}

#myname_box{height:100px;width:225px;
	        margin: 0 auto;
}

#myname_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 50px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

			 animation: fade-in;  
             animation-duration: 2s;  
             -webkit-animation-duration:2s;
             /*animation-delay: 1s;*/
             /*-webkit-animation-delay: 1s;*/
}

#mylabel_box{height:50px;width:400px;
	         margin: 0 auto 50px;
}

#mylabel_text{font-family: "pf_one";
	         line-height: 50px;
	         color: #111111;
			 font-size: 20px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

			 animation: fade-in;  
             animation-duration: 3s;  
             -webkit-animation-duration:3s;

}

#experience_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 40px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#account_link{height:40px;width:340px;
	          margin: 0 auto;

	         animation: fade-in;  
             animation-duration: 5s;  
             -webkit-animation-duration:5s;
}

#zhihu_img_box{height: 40px;width: 40px;
	           display: inline-block;
	           margin: 0 30px 0 0;

}

#zhihu_img{height: 40px;width: 40px;

}

#weibo_img_box{height: 40px;width: 40px;
	           display: inline-block;
	           margin: 0 30px 0 0;
}

#weibo_img{height: 40px;width: 40px;

}

#douban_img_box{height: 40px;width: 40px;
	            display: inline-block;
	            margin: 0 30px 0 0;
}

#douban_img{height: 40px;width: 40px;

}

#ins_img_box{height: 40px;width: 40px;
	         display: inline-block;
	         margin: 0 30px 0 0;
}

#ins_img{height: 40px;width: 40px;

}

#twitter_img_box{height: 40px;width: 40px;
	             display: inline-block;
}

#twitter_img{height: 40px;width: 40px;

}

#down_box{height: 50px;width: 70px;
	      margin: 30px auto 0;
	      animation: fade-in;  
          animation-duration:fade-in 6s;  
          -webkit-animation-duration:fade-in 6s;


	      animation: down 1s infinite;
	      animation-fill-mode:both;
	      -webkit-animation: down 1s infinite;
	      -webkit-animation-fill-mode:both;
	      animation-delay:3s;
	      -webkit-animation-delay:3s;
}

#down_img{height: 100%;width: 100%;
}

#experience_box{height:100px;width:800px;
	            margin: 80px auto 0;
}

#experience_header_box{height:100px;width:200px;

}

#energy_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 40px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#experience_item1_box{height:50px;width:800px;
	                  margin: 50px auto 0;
}

#experience_item1_text{line-height: 50px;
	                   color: #111111;
			           font-size: 30px;
			           font-weight:bold;
}

#m_experience_item1_text{display: none;}

#experience_item1_in_box{height:100px;width:800px;
	                     margin: 30px auto 0;
}

#experience_item1_in_text{line-height: 30px;
	                      color: #111111;
			              font-size: 20px;
}

#experience_item2_box{height:50px;width:800px;
	                  margin: 80px auto 0;
}

#experience_item2_text{line-height: 50px;
	                   color: #111111;
			           font-size: 30px;
			           font-weight:bold;
}

#m_experience_item2_text{display: none;}

#experience_item2_in_box{height:100px;width:800px;
	                     margin: 30px auto 0;
}

#experience_item2_in_text{line-height: 30px;
	                      color: #111111;
			              font-size: 20px;
}


#experience_item3_box{height:50px;width:800px;
	                  margin: 80px auto 0;
}

#experience_item3_text{line-height: 50px;
	                   color: #111111;
			           font-size: 30px;
			           font-weight:bold;
}

#m_experience_item3_text{display: none;}

#experience_item3_in_box{height:100px;width:800px;
	                     margin: 30px auto 0;
}

#experience_item3_in_text{line-height: 30px;
	                      color: #111111;
			              font-size: 20px;
}

#energy_box{height:100px;width:800px;
	        margin: 80px auto 0;
}

#energy_header_box{height:100px;width:200px;

}

#energy_box_column{height:500px;width:790px;
	               margin: 30px auto 0;
}

#energy_box_column1{display: inline-block;
	                vertical-align: top;
	                height:500px;width:390px;
}

#energy_box_column1_1:hover{background-color: #e6e6e6;}

#energy_box_column1_1{height:50px;width:310px;

}

#energy_box_column1_1_box{display: inline-block;
	                      height:50px;width:180px;
}

.energy_box_column_text{line-height: 50px;
	                    color: #111111;
	                    font-size: 25px;
}

#energy_box_column1_1_star_box{display: inline-block;
	                           height:50px;width:125px;
}

.energy_box_column_star{line-height: 50px;
	                    color: #111111;
	                    font-size: 30px;
}

#energy_box_column1_2:hover{background-color: #e6e6e6;}

#energy_box_column1_2{height:50px;width:310px;

}

#energy_box_column1_2_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_2_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column1_3:hover{background-color: #e6e6e6;}

#energy_box_column1_3{height:50px;width:310px;

}

#energy_box_column1_3_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_3_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column1_4:hover{background-color: #e6e6e6;}

#energy_box_column1_4{height:50px;width:310px;

}

#energy_box_column1_4_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_4_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column1_5:hover{background-color: #e6e6e6;}

#energy_box_column1_5{height:50px;width:310px;

}

#energy_box_column1_5_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_5_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column1_6:hover{background-color: #e6e6e6;}

#energy_box_column1_6{height:50px;width:335px;

}

#energy_box_column1_6_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_6_star_box{display: inline-block;
	                           height:50px;width:145px;
}

#energy_box_column1_6_text{line-height: 50px;
	                       color: #111111;
	                       font-size: 20px;
}

#energy_box_column2{display: inline-block;
	                height:500px;width:390px;
}

#energy_box_column2_1:hover{background-color: #e6e6e6;}

#energy_box_column2_1{height:50px;width:310px;margin-left: 40px;

}

#energy_box_column2_1_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column2_1_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column2_2:hover{background-color: #e6e6e6;}

#energy_box_column2_2{height:50px;width:310px;margin-left: 40px;

}

#energy_box_column2_2_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column2_2_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column2_3:hover{background-color: #e6e6e6;}

#energy_box_column2_3{height:50px;width:310px;margin-left: 40px;

}

#energy_box_column2_3_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column2_3_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column2_4:hover{background-color: #e6e6e6;}

#energy_box_column2_4{height:50px;width:310px;margin-left: 40px;

}

#energy_box_column2_4_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column2_4_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column2_5:hover{background-color: #e6e6e6;}

#energy_box_column2_5{height:50px;width:310px;margin-left: 40px;

}

#energy_box_column2_5_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column2_5_star_box{display: inline-block;
	                           height:50px;width:125px;
}

#energy_box_column2_6{display: none;}

/* #blank{display: none;} */
	
#badge_box{height:100px;width:800px;
	        margin: 80px auto 0;
}

#badge_header_box{height:100px;width:200px;

}

#badge_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 40px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#badge_column1{height:40px;width:700px;
	          margin: 40px auto 0;

	         animation: fade-in;  
             animation-duration: 5s;  
             -webkit-animation-duration:5s;
}

#badge001_box{height: 40px;width: 40px;
	           display: inline-block;
	           margin: 0 30px 0 0;

}

#badge001{height: 40px;width: 40px;

}

#badge002_box{height: 40px;width: 40px;
	           display: inline-block;
	           margin: 0 30px 0 0;
}

#badge002{height: 40px;width: 40px;

}

#badge003_box{height: 40px;width: 40px;
	            display: inline-block;
	            margin: 0 30px 0 0;
}

#badge003{height: 40px;width: 40px;

}

#badge004_box{height: 40px;width: 40px;
	         display: inline-block;
	         margin: 0 30px 0 0;
}

#badge004{height: 40px;width: 40px;

}

#badge005_box{height: 40px;width: 40px;
	             display: inline-block;
	             margin: 0 30px 0 0;
}

#badge005{height: 40px;width: 40px;

}

#badge006_box{height: 40px;width: 40px;
	             display: inline-block;
	             margin: 0 30px 0 0;
}

#badge006{height: 40px;width: 40px;

}

#badge007_box{height: 40px;width: 40px;
	             display: inline-block;
}

#badge007{height: 40px;width: 40px;

}

#notes_column1{display:none;}

}

@media screen and (max-device-width: 450px) {
	#aboutme_header{display: none;}

	#logo{display: none;}

	#head_img_box{/*height:200px;width:200px;
	              margin: 60px auto 10px;*/

	              height:500px;width:500px;
	              /*margin-top: 600px;*/
	              margin: 150px auto 20px;
}

    #head_img{height:500px;width:500px;

             animation: fade-in;  
             animation-duration: 1s;  
             -webkit-animation:fade-in 1s;
}

	#myname_box{/*height:100px;width:225px;
	            margin: 0 auto;*/
		        height:200px;width:400px;
	            margin: 0 auto;
}

    #myname_text{font-family: "pf_one";
	         line-height: 200px;
	         color: #111111;
			 font-size: 100px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

			 animation: fade-in;  
             animation-duration: 2s;  
             -webkit-animation-duration:2s;
             /*animation-delay: 1s;*/
             /*-webkit-animation-delay: 1s;*/
}

	#mylabel_box{/*height:50px;width:400px;
	             margin: 0 auto 50px;*/

	             height:100px;width:800px;
	             margin: 0 auto 50px;
}

	#mylabel_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 38px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

			 animation: fade-in;  
             animation-duration: 3s;  
             -webkit-animation-duration:3s;

}

.ex_box{   animation: conceal;  
          animation-duration: 9600s;  
          -webkit-animation:conceal 9600s;

}

#experience_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 60px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#account_link{height:80px;width:660px;
	          margin: 0 auto;

	         animation: fade-in;  
             animation-duration: 5s;  
             -webkit-animation-duration:5s;
}

#zhihu_img_box{height: 80px;width: 80px;
	           display: inline-block;
	           margin: 0 60px 0 0;

}

#zhihu_img{height: 80px;width: 80px;

}

#weibo_img_box{height: 80px;width: 80px;
	           display: inline-block;
	           margin: 0 60px 0 0;
}

#weibo_img{height: 80px;width: 80px;

}

#douban_img_box{height: 80px;width: 80px;
	            display: inline-block;
	            margin: 0 60px 0 0;
}

#douban_img{height: 80px;width: 80px;

}

#ins_img_box{height: 80px;width: 80px;
	         display: inline-block;
	         margin: 0 60px 0 0;
}

#ins_img{height: 80px;width: 80px;

}

#twitter_img_box{height: 80px;width: 80px;
	             display: inline-block;
}

#twitter_img{height: 80px;width: 80px;

}

#down_box{/*display: none;*/
	      height: 100px;width: 140px;
	      margin: 400px auto 0;
	      animation: fade-in;  
          animation-duration:fade-in 6s;  
          -webkit-animation-duration:fade-in 6s;


	      animation: down 1s infinite;
	      animation-fill-mode:both;
	      -webkit-animation: down 1s infinite;
	      -webkit-animation-fill-mode:both;
	      animation-delay:3s;
	      -webkit-animation-delay:3s;
}

#down_img{height: 100%;width: 100%;
}

#experience_box{height:100px;width:800px;
	            margin: 150px auto 0;
}

#experience_header_box{height:100px;width:280px;

}

#experience_item1_box{height:80px;width:800px;
	                  margin: 50px auto 0;
}

#experience_item1_text{display: none;
}

#m_experience_item1_text{line-height: 80px;
	                   color: #111111;
			           font-size: 50px;
			           font-weight:bold;
}

#experience_item1_in_box{height:300px;width:800px;
	                     margin: 100px auto 0;
}

#experience_item1_in_text{line-height: 55px;
	                      color: #111111;
			              font-size: 45px;
			              /*font-weight:bold;*/
}

#experience_item2_box{height:80px;width:800px;
	                  margin: 150px auto 0;
}

#experience_item2_text{display: none;
}

#m_experience_item2_text{line-height: 80px;
	                   color: #111111;
			           font-size: 50px;
			           font-weight:bold;
}


#experience_item2_in_box{height:260px;width:800px;
	                     margin: 100px auto 0;
}

#experience_item2_in_text{line-height: 55px;
	                      color: #111111;
			              font-size: 45px;
}


#experience_item3_box{height:80px;width:800px;
	                  margin: 150px auto 0;
}

#experience_item3_text{display: none;
}

#m_experience_item3_text{line-height: 80px;
	                   color: #111111;
			           font-size: 50px;
			           font-weight:bold;
}

#experience_item3_in_box{height:300px;width:800px;
	                     margin: 100px auto 0;
}

#experience_item3_in_text{line-height: 55px;
	                      color: #111111;
			              font-size: 45px;
}

#energy_box{height:100px;width:800px;
	        margin: 150px auto 0;
}

#energy_header_box{height:100px;width:220px;

}

#energy_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 60px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#energy_box_column{height:auto;width:750px;
	               margin: 40px auto 0;
	               /*background-color: red;*/
}

#energy_box_column1{/*display: block;*/
	                vertical-align: top;
	                height: auto;
	                width:700px;
	                /*background-color: blue;*/
}

/* #energy_box_column1_1:hover{background-color: #e6e6e6;} */

#energy_box_column1_1{height:50px;width:690px;

}

#energy_box_column1_1_box{display: inline-block;
	                      height:100px;width:300px;
}

.energy_box_column_text{line-height: 100px;
	                    color: #111111;
	                    font-size: 50px;
}

#energy_box_column1_1_star_box{display: inline-block;
	                           height:100px;width:150px;
	                           /*background-color: yellow;*/
}

.energy_box_column_star{line-height: 100px;
	                    color: #111111;
	                    font-size: 50px;
}

/* #energy_box_column1_2:hover{background-color: #e6e6e6;} */

#energy_box_column1_2{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column1_2_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column1_2_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column1_3:hover{background-color: #e6e6e6;} */

#energy_box_column1_3{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column1_3_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column1_3_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column1_4:hover{background-color: #e6e6e6;} */

#energy_box_column1_4{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column1_4_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column1_4_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column1_5:hover{background-color: #e6e6e6;} */

#energy_box_column1_5{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column1_5_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column1_5_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column1_6:hover{background-color: #e6e6e6;} */

#energy_box_column1_6{height:50px;width:335px;display: none;

}

#energy_box_column1_6_box{display: inline-block;
	                      height:50px;width:180px;
}

#energy_box_column1_6_star_box{display: inline-block;
	                           height:50px;width:145px;
}

#energy_box_column1_6_text{line-height: 50px;
	                       color: #111111;
	                       font-size: 20px;
}

#energy_box_column2{/*display: block;*/
	                /*margin:100px 0;*/
	                height: auto;
	                width:390px;
	                /*background-color: green;*/
}

/* #energy_box_column2_1:hover{background-color: #e6e6e6;} */

#energy_box_column2_1{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_1_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_1_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column2_2:hover{background-color: #e6e6e6;} */

#energy_box_column2_2{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_2_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_2_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column2_3:hover{background-color: #e6e6e6;} */

#energy_box_column2_3{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_3_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_3_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column2_4:hover{background-color: #e6e6e6;} */

#energy_box_column2_4{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_4_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_4_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column2_5:hover{background-color: #e6e6e6;} */

#energy_box_column2_5{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_5_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_5_star_box{display: inline-block;
	                           height:100px;width:150px;
}

/* #energy_box_column2_6:hover{background-color: #e6e6e6;} */

#energy_box_column2_6{height:50px;width:690px;margin: 20px 0;

}

#energy_box_column2_6_box{display: inline-block;
	                      height:100px;width:300px;
}

#energy_box_column2_6_star_box{display: inline-block;
	                           height:100px;width:380px;
}

#energy_box_column2_6_text{line-height: 100px;
	                       color: #111111;
	                       font-size: 50px;
}
	
#badge_box{height:100px;width:800px;
	        margin: 150px auto 0;
}

#badge_header_box{height:100px;width:220px;

}

#badge_header_text{font-family: "pf_one";
	         line-height: 100px;
	         color: #111111;
			 font-size: 60px;
			 font-weight:bold;
			 moz-user-select: -moz-none;
			 -moz-user-select: none;
			 -o-user-select:none;
			 -khtml-user-select:none;
			 -webkit-user-select:none;
			 -ms-user-select:none;
			 user-select:none;

}

#badge_column1{height:150px;width:770px;
	          margin: 50px auto 0;

	         animation: fade-in;  
             animation-duration: 5s;  
             -webkit-animation-duration:5s;
}

#badge001_box{height: 60px;width: 60px;
	           display: inline-block;
	           margin: 0 50px 0 0;

}

#badge001{height: 60px;width: 60px;

}

#badge002_box{height: 60px;width: 60px;
	           display: inline-block;
	           margin: 0 50px 0 0;
}

#badge002{height: 60px;width: 60px;

}

#badge003_box{height: 60px;width: 60px;
	            display: inline-block;
	            margin: 0 50px 0 0;
}

#badge003{height: 60px;width: 60px;

}

#badge004_box{height: 60px;width: 60px;
	         display: inline-block;
	         margin: 0 50px 0 0;
}

#badge004{height: 60px;width: 60px;

}

#badge005_box{height: 60px;width: 60px;
	             display: inline-block;
	             margin: 0 50px 0 0;
}

#badge005{height: 60px;width: 60px;

}

#badge006_box{height: 60px;width: 60px;
	             display: inline-block;
	             margin: 0 50px 0 0;
}

#badge006{height: 60px;width: 60px;

}

#badge007_box{height: 60px;width: 60px;
	             display: inline-block;
}

#badge007{height: 60px;width: 60px;

}
	
#notes_column1{height:60px;width:770px;
	          margin: 20px auto 0;

	         animation: fade-in;  
             animation-duration: 5s;  
             -webkit-animation-duration:5s;
}

#notes001_box{height: 60px;max-width: 100px;
	           display: inline-block;
	           position: absolute;
	           margin: 0 0 0 0;

}

#notes001_box {display: none;}
#badge001_box:hover~ #notes_column1 > #notes001_box {display: initial;}



/*#badge001{height: 60px;width: 60px;

}*/

#notes002_box{height: 60px;max-width: 100px;
	           display: inline-block;
	           position: absolute;
	           margin: 0 0 0 100px;
}

#notes002_box {display: none;}
#badge002_box:hover~ #notes_column1 > #notes002_box {display: initial;}

/*#badge002{height: 60px;width: 60px;

}*/

#notes003_box{height: 60px;max-width: 100px;
	            display: inline-block;
	            position: absolute;
	            margin: 0 0 0 220px;
}

#notes003_box {display: none;}
#badge003_box:hover~ #notes_column1 > #notes003_box {display: initial;}

/*#badge003{height: 60px;width: 60px;

}*/

#notes004_box{height: 60px;max-width: 100px;
	         display: inline-block;
	         position: absolute;
	         margin: 0 0 0 350px;
}

#notes004_box {display: none;}
#badge004_box:hover~ #notes_column1 > #notes004_box {display: initial;}

/*#badge004{height: 60px;width: 60px;

}*/

#notes005_box{height: 60px;max-width: 100px;
	             display: inline-block;
	             position: absolute;
	             margin: 0 0 0 465px;
}

#notes005_box {display: none;}
#badge005_box:hover~ #notes_column1 > #notes005_box {display: initial;}

/*#badge005{height: 60px;width: 60px;

}*/

#notes006_box{height: 60px;max-width: 100px;
	             display: inline-block;
	             position: absolute;
	             margin: 0 0 0 590px;
}

#notes006_box {display: none;}
#badge006_box:hover~ #notes_column1 > #notes006_box {display: initial;}

/*#badge006{height: 60px;width: 60px;

}*/

#notes007_box{height: 60px;max-width: 100px;
	             display: inline-block;
	             position: absolute;
	             margin: 0 0 0 695px;
}

#notes007_box {display: none;}
#badge007_box:hover~ #notes_column1 > #notes007_box {display: initial;}

/*#badge007{height: 60px;width: 60px;

}*/

}

