*{margin:0;padding:0}

@media screen and (min-device-width: 450px){
#contactme_header{ background-color:#111111; 
		         height:120px;        }

#logo{ float: left;
	   height:60px;width:120px;
	   margin-left:30px;
	   margin-top:30px;
	   position: absolute;}

#navigation{ height:80px;width:750px;
	         /*background-color:#111111;*/
	         margin:0 auto;}


.nav-link{/*font-family: "p_one";*/
		  font-weight:bold;
/*		  font-size: 20px;*/
	      text-decoration:none;
	      color: #e6e6e6;
	      margin: 25px;
	      /*padding: 15px;*/
	      line-height: 80px;

}
	
#pic_frame{width:400px;height:240px;
	         
	         margin:20px auto;
	         background-color:#111111;
	         background:url(../MYimg/pic_frame1_ma.jpg);
	         background-size:100% 100%;
	         	}

#m_pic_frame{display:none;}
	
	#emj_01{
    	width: 22px;
    	height: 22px;
    }

#emj_02{
    	width: 22px;
    	height: 22px;
    }

}

@media screen and (max-device-width: 450px) {
	#contactme_header{display: none;}

	#logo{display: none;}
	
	#pic_frame{display:none;}
	
	#m_pic_frame{width:600px;height:360px;
	         
	         	margin:20px auto;
                        /* background-color:#111111; */
	         	background:url(../MYimg/pic_frame1_ma.jpg);
	                background-size:100% 100%;
	         	}
	
   .vwrap{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 4;
}

	.vwrap{
    font-size: 40px;
    text-align: left;
}

    #emj_01{
    	width: 50px;
    	height: 50px;
    }

    #emj_02{
    	width: 50px;
    	height: 50px;
    }

    #submit_01 {

    font-size: 2.2em;

}
	
     .vcount {
	    padding: 5px;
	    font-weight: 600;
	    font-size: 3em;
	}

     #vcomments{
		font-size: 32px;
	}

     .vtag {
        font-size: 20px;
}
	
     .v[data-class=v] .vwrap .vemojis{
	    display: none;
	    font-size: 20px;
	    max-height: 220px;
  }
	
     .v[data-class=v] .emoji, .v[data-class=v] .vemoji {
	    max-width: 30px;
	    vertical-align: middle;
	    margin: 0 2px;
	    display: inline-block;
}
}
