*{margin:0;padding:0}



@keyframes fade-in{  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}

#background1{ background:url(../MYimg/background9.png);
	          background-size:100% 100%;
	          height:753px;

	          animation: fade-in;  
              animation-duration: 2s;  
              -webkit-animation:fade-in 2s;
	         }



#logo{ float: left;
	   height:60px;width:120px;
	   margin-left:30px;
	   margin-top:30px;
	   position: absolute;

/*	   animation: fade-in;  
       animation-duration: 1.5s;  
       -webkit-animation:fade-in 1.5s;*/
}

#navigation{ height:80px;width:710px;
	         /*background-color:#111111;*/
	         margin:0 auto;
}


@font-face{font-family: "p_one";
		   src:url("../MYfont/p001.ttf");

}

/*@font-face{font-family: "pf_one";
		   src:url("../MYfont/pf001.ttf");

}*/

.nav-link{/*font-family: "pf_one";*/
		  font-weight:bold;
/*		  font-size: 20px;*/
	      text-decoration:none;
	      color: #e6e6e6;
	      margin: 25px;
	      /*padding: 15px;*/
	      line-height: 80px;

/*	      animation: fade-in;  
          animation-duration: 1.5s;  
          -webkit-animation:fade-in 1.5s;*/

}

.m_nav-link{text-decoration:none;

}

		.box{width: 130px;
			 height: 130px;
			 background-color: #000

		}

		#toggler:checked + label .box{
			background-color: cyan;
		}

		#toggler{

			display: none;
		}

		.hamburger-container{
			display: block;
			width: 66px;
			height: 66px;
			position: relative;
			top: 58px;
			/*background-color: red;*/
		}

		.hamburger-container span{
			display: block;
			height: 6px;
			background-color: #fff;
			position: relative;
			transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
			top: 0px;
		}

		.hamburger-container span:nth-child(2){
			margin-top: 12px;
		}

		#toggler:checked + label .hamburger-container span:nth-child(1){
			transform: rotate(45deg);
			top:8px;
			transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
		}

	    #toggler:checked + label .hamburger-container span:nth-child(2){
			transform: rotate(-45deg);
			top:-8px;
			transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
		}

		#m_navigation{
			background-color: #000;
			/*height: 44px;*/
			height: 130px;
			padding: 0 18px;
		}

		body{
			padding: 0;
			margin: 0;
		}

		.nav-items{
			background-color: rgba(0,0,0, .82);
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 100px;
			left: 0;
			transform: scaleY(0);
			transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
			transform-origin: 50% 0;
			opacity: 0;
		}

		#toggler:checked ~ .nav-items{
			transform: scaleY(1);
			opacity: 1;
		}

		ul{
			margin-top: 5em;
		}

		ul li{
			color: #fff;
			font-size: 50px;
			font: bold;
			margin-top: 10px;
			margin-left: 50px;
			list-style-type:none;
		}

#playaudio{float: right;
	       float: top;
	       width:100px;height:100px;
	       margin-right: 90px;
	       margin-top: 600px;


/*	       animation: fade-in;  
           animation-duration: 2.5s;  
           -webkit-animation:fade-in 2.5s;*/
}

#textshow{/*float: left;*/
		  width:500px;height:300px;
		  /*background-color:#111111;*/
		  margin-top:200px;
		  margin-left:50px;

}




#textshow_p{font-family: "p_one";
	        color: #e6e6e6;
	        font-size: 100px;
	        font-weight:bold;
	        moz-user-select: -moz-none;
			-moz-user-select: none;
			-o-user-select:none;
			-khtml-user-select:none;
			-webkit-user-select:none;
			-ms-user-select:none;
			user-select:none;


/*	        animation: fade-in;  
            animation-duration: 2.5s;  
            -webkit-animation:fade-in 2.5s;*/
}

#creator{height: 450px}

#creatorimg{float:right;
	        height:249px;width:249px;
/*	        margin-right:300px;
	        margin-top:150px;*/
}

#textshow002{width:750px;height:249px;
	         /*background-color:#111111;*/
	         margin-top:200px;
	         margin-left:450px;
}

@font-face{font-family: "CM";
		   src:url("../MYfont/name001.ttf");

}

#textshow_p002{font-family: "CM";
			   color: #111111;
			   font-size: 66px;
			   font-weight:bold;
			   line-height: 200px;
			   moz-user-select: -moz-none;
			   -moz-user-select: none;
			   -o-user-select:none;
			   -khtml-user-select:none;
			   -webkit-user-select:none;
			   -ms-user-select:none;
			   user-select:none;
}

.video_background{height: 650px;

}

#textshow_p003{font-family: "p_one";
			   color: white;
			   font-size: 50px;
			   font-weight:bold;
			   margin-top:200px;
			   margin-left:50px;
			   position: absolute;

}

.covervid-video{
				width: 100%;
				height: 100%;
			    object-fit: fill;
			    /*z-index:-100;*/
			    /*position: absolute;*/
			    /*background-size: cover;*/

            	/*加滤镜*/
            	/*filter: blur(15px); //背景模糊设置 */
            	/*-webkit-filter: grayscale(100%);*/  
            	/*filter:grayscale(100%); //背景灰度设置*/
}



@media screen and (max-device-width: 450px) {

	#background1{background:url(../MYimg/m_background6.jpg);
	          background-size:100% 100%;
	          height:2130px;

	          animation: fade-in;  
              animation-duration: 1.8s;  
              -webkit-animation:fade-in 1.8s;
	         }

	#navigation{ height:80px;width:710px;
	         /*background-color:#111111;*/
	         margin:0 auto;
	         display: none;
	         /*visibility:hidden;*/
}
	
    #logo{ float: left;
	   height:150px;width:300px;
	   margin-left:30px;
	   margin-top:150px;
	   position: absolute;

	   animation: fade-in;  
       animation-duration: 3.8s;  
       -webkit-animation:fade-in 3.8s;
}



	#textshow{/*float: left;*/
		  width:800px;height:600px;
		  /*background-color:#111111;*/
/* 		  margin-top:600px; */
		  margin-top:700px;
		  margin-left:50px;

		  	  animation: fade-in;  
              animation-duration: 3.8s;  
              -webkit-animation:fade-in 3.8s;

}




    #textshow_p{font-family: "p_one";
    	    color: #e6e6e6;
	        font-size: 150px;
	        font-weight:bold;
	        moz-user-select: -moz-none;
			-moz-user-select: none;
			-o-user-select:none;
			-khtml-user-select:none;
			-webkit-user-select:none;
			-ms-user-select:none;
			user-select:none;


/*	        animation: fade-in;  
            animation-duration: 2.5s;  
            -webkit-animation:fade-in 2.5s;*/
}

    #playaudio{float: right;
	       float: top;
	       width:100px;height:100px;
	       margin-right: 50px;
	       /*margin-top: 1800px;*/
 	       /*margin-top: 1350px; */
	       margin-top: 1990px;

	       	  animation: fade-in;  
              animation-duration: 3.8s;  
              -webkit-animation:fade-in 3.8s;



}

}

@media screen and (min-device-width: 450px){
/*	#botton001{visibility:hidden;}*/
	#m_navigation{display: none;}
/*	#toggler{display: none;}
	.hamburger-container{display: none;}
	.nav-items{display: none;}*/
}




