*{margin:0;padding:0}

@keyframes fade-in{  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}

#background{ background-color:#111111; 
		     height:auto;       
	         }

#logo{ float: left;
	   height:60px;width:120px;
	   margin-left:30px;
	   margin-top:30px;
	   position: absolute;}

#navigation{ height:80px;width:750px;
	         /*background-color:#111111;*/
	         margin:0 auto;}


@font-face{font-family: "p_one";
		   src:url("../MYfont/p001.ttf");

}

@font-face{font-family: "p_one";
		   src:url("../MYfont/p001.ttf");

}

.nav-link{/*font-family: "p_one";*/
		  font-weight:bold;
/*		  font-size: 20px;*/
	      text-decoration:none;
	      color: #e6e6e6;
	      margin: 25px;
	      /*padding: 15px;*/
	      line-height: 80px;

}

#title1{/*background-color:#111111;*/
		height:150px;
		width: 800px;
		margin:0 auto;  

		  animation: fade-in;  
          animation-duration: 1s;  
          -webkit-animation:fade-in 1s;
}

#title11{height:150px;width: 840px;
	     margin: 0 auto;
             	

	      animation: fade-in;  
          animation-duration: 1s;  
          -webkit-animation:fade-in 1s;

}

#title12{height:150px;width: 840px;
	     margin: 0 auto;


	      animation: fade-in;  
          animation-duration: 1s;  
          -webkit-animation:fade-in 1s;

          display: none;

}

#title_MYphoto11{display: inline-block;			  
	          text-align: center;
			  line-height: 150px;
			  font-size: 20px;
			  font-weight:bold;
			  color: white;

}

#text_MYphoto11{display: inline-block;
	            font-family: p_one;
	            font-size: 50px;
	            color: white;
	            white-space:pre;
	           moz-user-select: -moz-none;
			  -moz-user-select: none;
			  -o-user-select:none;
			  -khtml-user-select:none;
			  -webkit-user-select:none;
			  -ms-user-select:none;
			  user-select:none;
}

#title_MYphoto22{display: inline-block;			 
               text-align: center;
			  line-height: 150px;
			  font-size: 20px;
			  font-weight:bold;
			  color: white;

}


#title_MYphoto{
			  text-align: center;
			  line-height: 150px;
			  font-size: 20px;
			  font-weight:bold;
			  color: white;
			  white-space:pre;
			  moz-user-select: -moz-none;
			  -moz-user-select: none;
			  -o-user-select:none;
			  -khtml-user-select:none;
			  -webkit-user-select:none;
			  -ms-user-select:none;
			  user-select:none;
}

#text_MYphoto{font-family: p_one;
	          font-size: 35px;
}

/*#photo001{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto001{height: 500px;width: 666px;
}

#photo002{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto002{height: 500px;width: 666px;
}

#photo003{height: 666px;width: 500px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto003{height: 666px;width: 500px;
}

#photo004{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto004{height: 500px;width: 666px;
}

#photo005{height: 666px;width: 500px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto005{height: 666px;width: 500px;
}

#photo006{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto006{height: 500px;width: 666px;
}

#photo007{height: 666px;width: 500px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto007{height: 666px;width: 500px;
}

#photo008{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto 30px;
}

#MYphoto008{height: 500px;width: 666px;
}

#photo009{height: 500px;width: 666px;
		  background-color:#e6e6e6;
		  margin:0 auto;
}

#MYphoto009{height: 500px;width: 666px;
}*/

#column001{height: 300px;width: 990px;
		  /*background-color:#e6e6e6;*/
		  margin:0 auto 30px;

		  animation: fade-in;  
          animation-duration: 2s;  
          -webkit-animation:fade-in 2s;
}

#MYphoto001:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo001{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: red;*/
		  margin: 0 15px;

}

#MYphoto001{height: 225px;width: 300px;
			margin:37px 0;
			position: absolute;
}

#MYphoto002:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}


#photo002{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: yellow;*/
		  margin: 0 10px;

}

#MYphoto002{height: 225px;width: 300px;
	        margin:37px 0;
			position: absolute;
}

#MYphoto003:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo003{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: blue;*/
		  margin: 0 15px;

}

#MYphoto003{height: 300px;width: 225px;
	        margin:0 37px;
			position: absolute;
}

#column002{height: 300px;width: 990px;
		  /*background-color:#e6e6e6;*/
		  margin:0 auto 30px;

		  animation: fade-in;  
          animation-duration: 2s;  
          -webkit-animation:fade-in 2s;
}


#MYphoto004:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo004{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: red;*/
		  margin: 0 15px;

}

#MYphoto004{height: 225px;width: 300px;
			margin:37px 0;
			position: absolute;
}

#MYphoto005:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo005{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: yellow;*/
		  margin: 0 10px;

}

#MYphoto005{height: 300px;width: 225px;
	        margin:0 37px;
			position: absolute;
}

#MYphoto006:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo006{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: blue;*/
		  margin: 0 15px;

}

#MYphoto006{height: 225px;width: 300px;
	        margin:37px 0;
			position: absolute;
}

#column003{height: 300px;width: 990px;
		  /*background-color:#e6e6e6;*/
		  margin:0 auto 30px;

		  animation: fade-in;  
          animation-duration: 2s;  
          -webkit-animation:fade-in 2s;
}

#MYphoto007:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo007{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: red;*/
		  margin: 0 15px;

}

#MYphoto007{height: 300px;width: 225px;
			margin:0 37px;
			position: absolute;
}

#MYphoto008:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo008{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: yellow;*/
		  margin: 0 10px;

}

#MYphoto008{height: 225px;width: 300px;
	        margin:37px 0;
			position: absolute;
}

#MYphoto009:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo009{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: blue;*/
		  margin: 0 15px;

}

#MYphoto009{height: 225px;width: 300px;
	        margin:37px 0;
			position: absolute;
}

#column004{height: 300px;width: 990px;
		  /*background-color:#e6e6e6;*/
		  margin:0 auto 30px;

		  animation: fade-in;  
          animation-duration: 2s;  
          -webkit-animation:fade-in 2s;
}

#MYphoto010:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo010{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: red;*/
		  margin: 0 15px;

}

#MYphoto010{height: 300px;width: 225px;
			margin:0 37px;
			position: absolute;
}

#MYphoto011:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo011{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: yellow;*/
		  margin: 0 10px;

}

#MYphoto011{height: 225px;width: 300px;
	        margin:37px 0;
			position: absolute;
}

#MYphoto012:hover{transform: scale(1.1);  
              	  transition: all 0.5s ease 0s;
}

#photo012{height: 300px;width: 300px;
		  display: inline-block;
		  /*background-color: blue;*/
		  margin: 0 15px;

}

#MYphoto012{height: 300px;width: 225px;
	        margin:0 37px;
			position: absolute;
}

#title2{/*background-color:#111111;*/
		height:150px;

		  animation: fade-in;  
          animation-duration: 3s;  
          -webkit-animation:fade-in 3s;
}

#title_MYvideo{
			  text-align: center;
			  line-height: 150px;
			  font-size: 20px;
			  font-weight:bold;
			  color: white;
			  white-space:pre;
			  moz-user-select: -moz-none;
			  -moz-user-select: none;
			  -o-user-select:none;
			  -khtml-user-select:none;
			  -webkit-user-select:none;
			  -ms-user-select:none;
			  user-select:none;
}

#text_MYvideo{font-family: p_one;
	          font-size: 35px
}

#video_column{height: 550px;
	          animation: fade-in;  
              animation-duration: 3s;  
              -webkit-animation:fade-in 3s;
	
	      display: none;
}

#video001{height: 500px;width: 900px;
		  margin: 0 auto;
		  background-color: black;
}

#MYvideo001{width: 100%;height: 100%;
	        object-fit: fill;
}

#m_blank{display: none;}

@media screen and (max-device-width: 450px){
	#navigation{visibility: hidden;}
	#title11{height:150px;width: 840px;
	         margin: 0 auto;
             	

	         animation: fade-in;  
                 animation-duration: 1s;  
                 -webkit-animation:fade-in 1s;

}
    #blank{display: none;}
    #m_blank{display: block;}
	
}
